.square {
  width: 200px;
  height: 200px;
  background: black;
  transition: background-color 0.2s ease;
}

/* Actif */
.black {
  background-color: black;
}

/* Inactif */
.white {
  background-color: white;
}

/* Erreur */
.red {
  background-color: red;
}
